.header__inner_transparent
{
    background-color: #FFFFFF4D !important;
}
.header   {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 200;
    position: fixed;

    padding-top: 17px;
    padding-inline: 12px;

    &__inner, &__inner_transparent {
        width: 100%;
        max-width: 1240px;
        min-height: 54px;
        max-height: 54px;
        border-radius: 15px;
        background-color: #7733F4;
        backdrop-filter: blur(13px);

        box-shadow: 0px 1px 24px 0px #141E8B61;


        display: flex;
        align-items: center;

        padding-left: 20px;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-right: 4px;
    }

    &__inner a img, &__inner_transparent a img {
        height: 30px;
        width: 164px;
    }

    &__nav {
        margin-left: auto;

        display: flex;
        align-items: center;
    }

    &__nav-list {
        display: flex;
        gap: 40px;
        align-items: center;
    }

    &__nav-item {
        font-family: Inter;
        font-weight: 400;
        font-size: 14px;
            color: white;

        line-height: 20px;
        letter-spacing: 0px;
    }

    &__btn {
        display: none;
        margin-left: initial;
    }

    @media screen and (max-width: $desktops-sm-max) {
        &__btn {
            display: block;
            margin-left: auto;
        }

        &__nav {
            display: none;
        }
    }

    @media screen and (min-width: $tablets) {
        &__inner, &__inner_transparent {
            min-height: 61px;
            padding-right: 20px;
        }

        &__inner a img, &__inner_transparent a img {
            height: 37px;
            width: 186px;
        }
    }
}