.card-babysitters {
    background-image: url('../../../public/images/card-babysit/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

    padding: 32px;
    padding-inline: 16px;

    &__list {
        display: flex;
        flex-direction: column;
        max-width: 1200px;
        gap: 16px;
        margin-top: 16px;
    }

    &__title {
        font-family: 'Transforma Mix';
        font-weight: 600;
        font-size: 28px;
        line-height: 34px;
        letter-spacing: 0px;
        color: #252525;

        max-width: 690px;
    }

    &__inner {
        max-width: 1200px;
        width: 100%;
    }

    &__link {
        font-family: Inter;
        font-weight: 600;
        font-size: 16px;
        line-height: 18px;
        letter-spacing: 0px;
        text-decoration: underline;
        color: #191816;

        margin-top: 24px;
        display: block;
        text-align: start;
    }

    @media screen and (min-width: $desktops-sm) {
        padding: 64px;
        padding-inline: 16px;

        &__list {
            grid-template-columns: 1fr 1fr;
            gap:24px;
            display: grid;

            margin-top: 48px;
        }



        &__title {
            font-size: 40px;;
        }
    }
}